.us{background-image:url('/flags/us.svg');}
.uz{background-image:url('/flags/uz.svg');}
.eg{background-image:url('/flags/eg.svg');}
.za{background-image:url('/flags/za.svg');}
.gr{background-image:url('/flags/gr.svg');}
.nl{background-image:url('/flags/nl.svg');}
.be{background-image:url('/flags/be.svg');}
.fr{background-image:url('/flags/fr.svg');}
.es{background-image:url('/flags/es.svg');}
.hu{background-image:url('/flags/hu.svg');}
.it{background-image:url('/flags/it.svg');}
.ro{background-image:url('/flags/ro.svg');}
.ch{background-image:url('/flags/ch.svg');}
.cz{background-image:url('/flags/cz.svg');}
.at{background-image:url('/flags/at.svg');}
.gb{background-image:url('/flags/gb.svg');}
.dk{background-image:url('/flags/dk.svg');}
.se{background-image:url('/flags/se.svg');}
.no{background-image:url('/flags/no.svg');}
.pl{background-image:url('/flags/pl.svg');}
.de{background-image:url('/flags/de.svg');}
.pe{background-image:url('/flags/pe.svg');}
.mx{background-image:url('/flags/mx.svg');}
.cu{background-image:url('/flags/cu.svg');}
.ar{background-image:url('/flags/ar.svg');}
.br{background-image:url('/flags/br.svg');}
.cl{background-image:url('/flags/cl.svg');}
.co{background-image:url('/flags/co.svg');}
.ve{background-image:url('/flags/ve.svg');}
.my{background-image:url('/flags/my.svg');}
.au{background-image:url('/flags/au.svg');}
.id{background-image:url('/flags/id.svg');}
.ph{background-image:url('/flags/ph.svg');}
.nz{background-image:url('/flags/nz.svg');}
.sg{background-image:url('/flags/sg.svg');}
.th{background-image:url('/flags/th.svg');}
.jp{background-image:url('/flags/jp.svg');}
.kr{background-image:url('/flags/kr.svg');}
.vi{background-image:url('/flags/vi.svg');}
.cn{background-image:url('/flags/cn.svg');}
.tr{background-image:url('/flags/tr.svg');}
.in{background-image:url('/flags/in.svg');}
.lk{background-image:url('/flags/lk.svg');}
.mn{background-image:url('/flags/mn.svg');}
.ir{background-image:url('/flags/ir.svg');}
.ma{background-image:url('/flags/ma.svg');}
.dz{background-image:url('/flags/dz.svg');}
.tn{background-image:url('/flags/tn.svg');}
.ly{background-image:url('/flags/ly.svg');}
.gm{background-image:url('/flags/gm.svg');}
.sn{background-image:url('/flags/sn.svg');}
.mr{background-image:url('/flags/mr.svg');}
.ml{background-image:url('/flags/ml.svg');}
.gn{background-image:url('/flags/gn.svg');}
.bf{background-image:url('/flags/bf.svg');}
.ne{background-image:url('/flags/ne.svg');}
.tg{background-image:url('/flags/tg.svg');}
.bj{background-image:url('/flags/bj.svg');}
.lr{background-image:url('/flags/lr.svg');}
.sl{background-image:url('/flags/sl.svg');}
.gh{background-image:url('/flags/gh.svg');}
.ng{background-image:url('/flags/ng.svg');}
.cf{background-image:url('/flags/cf.svg');}
.cm{background-image:url('/flags/cm.svg');}
.cv{background-image:url('/flags/cv.svg');}
.st{background-image:url('/flags/st.svg');}
.gq{background-image:url('/flags/gq.svg');}
.ga{background-image:url('/flags/ga.svg');}
.cg{background-image:url('/flags/cg.svg');}
.ao{background-image:url('/flags/ao.svg');}
.gw{background-image:url('/flags/gw.svg');}
.sc{background-image:url('/flags/sc.svg');}
.sd{background-image:url('/flags/sd.svg');}
.rw{background-image:url('/flags/rw.svg');}
.et{background-image:url('/flags/et.svg');}
.so{background-image:url('/flags/so.svg');}
.dj{background-image:url('/flags/dj.svg');}
.ke{background-image:url('/flags/ke.svg');}
.ug{background-image:url('/flags/ug.svg');}
.bi{background-image:url('/flags/bi.svg');}
.mz{background-image:url('/flags/mz.svg');}
.zm{background-image:url('/flags/zm.svg');}
.mg{background-image:url('/flags/mg.svg');}
.re{background-image:url('/flags/re.svg');}
.zw{background-image:url('/flags/zw.svg');}
.na{background-image:url('/flags/na.svg');}
.mw{background-image:url('/flags/mw.svg');}
.ls{background-image:url('/flags/ls.svg');}
.bw{background-image:url('/flags/bw.svg');}
.sz{background-image:url('/flags/sz.svg');}
.yt{background-image:url('/flags/yt.svg');}
.sh{background-image:url('/flags/sh.svg');}
.er{background-image:url('/flags/er.svg');}
.aw{background-image:url('/flags/aw.svg');}
.fo{background-image:url('/flags/fo.svg');}
.gl{background-image:url('/flags/gl.svg');}
.gi{background-image:url('/flags/gi.svg');}
.pt{background-image:url('/flags/pt.svg');}
.lu{background-image:url('/flags/lu.svg');}
.ie{background-image:url('/flags/ie.svg');}
.is{background-image:url('/flags/is.svg');}
.mt{background-image:url('/flags/mt.svg');}
.cy{background-image:url('/flags/cy.svg');}
.fi{background-image:url('/flags/fi.svg');}
.bg{background-image:url('/flags/bg.svg');}
.lt{background-image:url('/flags/lt.svg');}
.lv{background-image:url('/flags/lv.svg');}
.ee{background-image:url('/flags/ee.svg');}
.md{background-image:url('/flags/md.svg');}
.am{background-image:url('/flags/am.svg');}
.by{background-image:url('/flags/by.svg');}
.ad{background-image:url('/flags/ad.svg');}
.mc{background-image:url('/flags/mc.svg');}
.sm{background-image:url('/flags/sm.svg');}
.va{background-image:url('/flags/va.svg');}
.ua{background-image:url('/flags/ua.svg');}
.cs{background-image:url('/flags/cs.svg');}
.hr{background-image:url('/flags/hr.svg');}
.si{background-image:url('/flags/si.svg');}
.ba{background-image:url('/flags/ba.svg');}
.mk{background-image:url('/flags/mk.svg');}
.li{background-image:url('/flags/li.svg');}
.sk{background-image:url('/flags/sk.svg');}
.fk{background-image:url('/flags/fk.svg');}
.bz{background-image:url('/flags/bz.svg');}
.gt{background-image:url('/flags/gt.svg');}
.sv{background-image:url('/flags/sv.svg');}
.hn{background-image:url('/flags/hn.svg');}
.ni{background-image:url('/flags/ni.svg');}
.cr{background-image:url('/flags/cr.svg');}
.pa{background-image:url('/flags/pa.svg');}
.ht{background-image:url('/flags/ht.svg');}
.gp{background-image:url('/flags/gp.svg');}
.bo{background-image:url('/flags/bo.svg');}
.gy{background-image:url('/flags/gy.svg');}
.ec{background-image:url('/flags/ec.svg');}
.gf{background-image:url('/flags/gf.svg');}
.py{background-image:url('/flags/py.svg');}
.mq{background-image:url('/flags/mq.svg');}
.sr{background-image:url('/flags/sr.svg');}
.uy{background-image:url('/flags/uy.svg');}
.np{background-image:url('/flags/np.svg');}
.gu{background-image:url('/flags/gu.svg');}
.nf{background-image:url('/flags/nf.svg');}
.bn{background-image:url('/flags/bn.svg');}
.nr{background-image:url('/flags/nr.svg');}
.pg{background-image:url('/flags/pg.svg');}
.to{background-image:url('/flags/to.svg');}
.sb{background-image:url('/flags/sb.svg');}
.vu{background-image:url('/flags/vu.svg');}
.fj{background-image:url('/flags/fj.svg');}
.pw{background-image:url('/flags/pw.svg');}
.wf{background-image:url('/flags/wf.svg');}
.ck{background-image:url('/flags/ck.svg');}
.nu{background-image:url('/flags/nu.svg');}
.ki{background-image:url('/flags/ki.svg');}
.nc{background-image:url('/flags/nc.svg');}
.tv{background-image:url('/flags/tv.svg');}
.pf{background-image:url('/flags/pf.svg');}
.fm{background-image:url('/flags/fm.svg');}
.mh{background-image:url('/flags/mh.svg');}
.kp{background-image:url('/flags/kp.svg');}
.hk{background-image:url('/flags/hk.svg');}
.mo{background-image:url('/flags/mo.svg');}
.kh{background-image:url('/flags/kh.svg');}
.la{background-image:url('/flags/la.svg');}
.bd{background-image:url('/flags/bd.svg');}
.tw{background-image:url('/flags/tw.svg');}
.mv{background-image:url('/flags/mv.svg');}
.lb{background-image:url('/flags/lb.svg');}
.jo{background-image:url('/flags/jo.svg');}
.si{background-image:url('/flags/si.svg');}
.iq{background-image:url('/flags/iq.svg');}
.kw{background-image:url('/flags/kw.svg');}
.sa{background-image:url('/flags/sa.svg');}
.ye{background-image:url('/flags/ye.svg');}
.om{background-image:url('/flags/om.svg');}
.ye{background-image:url('/flags/ye.svg');}
.ae{background-image:url('/flags/ae.svg');}
.il{background-image:url('/flags/il.svg');}
.bh{background-image:url('/flags/bh.svg');}
.qa{background-image:url('/flags/qa.svg');}
.bt{background-image:url('/flags/bt.svg');}
.mn{background-image:url('/flags/mn.svg');}
.np{background-image:url('/flags/np.svg');}
.tm{background-image:url('/flags/tm.svg');}
.az{background-image:url('/flags/az.svg');}
.kg{background-image:url('/flags/kg.svg');}
.bs{background-image:url('/flags/bs.svg');}
.bb{background-image:url('/flags/bb.svg');}
.ai{background-image:url('/flags/ai.svg');}
.ag{background-image:url('/flags/ag.svg');}
.ky{background-image:url('/flags/ky.svg');}
.bm{background-image:url('/flags/bm.svg');}
.gd{background-image:url('/flags/gd.svg');}
.tc{background-image:url('/flags/tc.svg');}
.ms{background-image:url('/flags/ms.svg');}
.sc{background-image:url('/flags/sc.svg');}
.pr{background-image:url('/flags/pr.svg');}
.do{background-image:url('/flags/do.svg');}
.tt{background-image:url('/flags/tt.svg');}
.kn{background-image:url('/flags/kn.svg');}
.jm{background-image:url('/flags/jm.svg');}
.ge{background-image:url('/flags/ge.svg');}
.cy{background-image:url('/flags/cy.svg');}
